%h1 Placeholder: UserProfile Index

#search-controls
  .placeholder søkekontroller

#search-results
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Navn 
      %th Søker jobb?
      %th Distanse
      %th Beskrivelse
      %th Topp tre teknologier
