= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false'

:javascript
  var geocoder;
  var map;
  var locations = #{locations.to_json}
  var markersArray = [];

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 7,
      zoomControl: false,
      rotateControl: false,
      panControl: false,
      streetViewControl: false,
      mapTypeControl: false,
      scrollwheel: false
    }
    map = new google.maps.Map(document.getElementById(#{canvas_id.to_json}), myOptions);
  }

  function clearOverlays() {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(null);
      }
    }
  }

  function addMarkers() {
    for (i in locations) {
      var marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(locations[i].lat, locations[i].lng)
      });
      markersArray.push(marker);
      //bounds.extend(locations[i]);
    }
  }

  function fitBounds() {
    var bounds = new google.maps.LatLngBounds();
    for (i in markersArray) {
      bounds.extend(markersArray[i].position);
    }
    map.fitBounds(bounds);
  }

  initialize();
  addMarkers();
  fitBounds();

  // codeAddress();
