%h1 Søk etter jobber

#search-controls
  .placeholder søkekontroller

#search-results
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Stilling
      -# %th Firma
      %th Beskrivelse
    - @jobs.each do |job|
      %tr
        %td= job.title
        -# %td= job.company.name
        %td= job.description
