%h1 Søk etter jobber

%form#search-controls.form-search
  %input.search-query
    %a.btn
      %i.icon-search

#search-results
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Stilling
      %th Firma
      %th Beskrivelse
      %th Topp tre teknologier
    - @jobs.each do |job|
      %tr
        %td
          = job.title
          %i.icon-fire.search-icon
        %td
          = job.employer.company_name
          %i.icon-arrow-right.search-icon
        %td= job.description
        %td
          - job.technologies.each_with_index do |tech, i|
            - break if (i > 3)
            %span.label= tech.shortname
