%h1 Søk etter jobber

.alert.alert-info
  %strong Nyhet!
  Du kan nå søke med det Latinske Alfabetet.

%form#search-controls.form-search.row-fluid
  .span4.btn-toolbar
    %input.search-query
      %a.btn.btn-success
        Søk
  .span8.btn-toolbar
    .btn-group
      %a.btn.active
        %i.icon-th-list
      %a.btn
        %i.icon-th
    .btn-group#search-list-quantity{:data => { :toggle => 'buttons-radio'}}
      %a.btn.btn-small.active
        20
      %a.btn.btn-small
        60
      %a.btn.btn-small
        100
    .btn-group{:data => { :toggle => 'buttons-checkbox'}}
      %a.btn.btn-small
        Avansert
.search-results
  %table.table.table-striped.table-condensed
    %tr
      %th Stilling
      %th Firma
      %th Beskrivelse
      %th Topp tre teknologier
    - @jobs.each do |job|
      %tr
        %td
          = job.title
          %i.icon-fire.search-icon
        %td
          = job.employer.company_name
          %i.icon-arrow-right.search-icon
        %td= job.description
        %td
          - job.technologies.each_with_index do |tech, i|
            - break if (i > 3)
            %span.label= tech.shortname
