#job-container

  - if @job.employer.user == current_user
    .alert.alert-info
      %p
        %strong Morn!
        Dette er en av dine jobber.
      %a.btn Endre jobben

  .page-header
    %h1
      = @job.title
      %small
        hos
        = link_to @job.employer.company_name, employer_path(@job.employer.id)

  %p
    Frist:
    %span
      - if @job.deadline_asap
        Snarest

  .row.fluid-row
    .span8.company_description
      = BlueCloth.new(@job.description).to_html.html_safe

