= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false'

:javascript
  var geocoder;
  var map;
  var markersArray = [];

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(#{@latlng.lat}, #{@latlng.lng});
    var myOptions = {
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 8,
      zoomControl: false,
      rotateControl: false,
      panControl: false,
      streetViewControl: false,
      mapTypeControl: false,
      scrollwheel: false
    }
    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
  }

  function clearOverlays() {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(null);
      }
    }
  }

  function codeAddress() {
    // var address = document.getElementById("employer_company_address").value;
    var address = $('.geolocation').val();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var loc = results[0].geometry.location;
        $('.geolocation-lat').val(loc.lat());
        $('.geolocation-lng').val(loc.lng());
        map.setCenter(loc);
        var marker = new google.maps.Marker({
            map: map,
            position: loc
        });
        clearOverlays();
        markersArray.push(marker);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


.control-group
  .controls
    #map-canvas.thumbnail{ :style => 'width: 210px; height: 210px' }

:javascript
  initialize();
  codeAddress();

  $('.geolocation').change(function() {
    codeAddress();
  });
