#login-box
  .centering

    %input{ :placeholder => 'Epost'}
    %input#password{ :placeholder => 'Passord', :type => 'password' }
    %span.btn.btn-primary.btn-large Logg inn

    #close-login.close-circle
      %i.icon-remove.icon-white
