.container
  .hero-unit
    %h1 Jobb med det du liker
    %p 42 ledige IT-jobber og 343 som vil ha noe å gjøre

    %form.form-horizontal#primary-search
      %input.input-search(placeholder='Hva vil du jobbe med?') 
        %button.btn.btn-large.btn-success Finn jobber!

    .add-job 
      Kanskje du har en jobb å tilby? 
      = link_to "Registrer firmaet ditt her", new_user_registration_path

  .row
    .span-12.columns
      %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
        %li.active
          %a{:href => '#new_jobs', :data => { :toggle => 'tab' }} Nye jobber
        %li
          %a{:href => '#popular_jobs', :data => { :toggle => 'tab' }} Populære jobber

      .tab-content
        .tab-pane#new_jobs Nye jobber
        .tab-pane#popular_jobs Populære jobber

