.container#main
  .hero-unit
    %h1 Jobb med det du liker
    %p #{@num_jobs} ledige IT-jobber og #{@num_users} som vil ha noe å gjøre

    %form.form-horizontal#primary-search
      %input.input-search(placeholder='Hva vil du jobbe med?') 
        %button.btn.btn-large.btn-success Finn jobber!

    .add-job 
      = link_to "Har du en jobb å tilby?", new_user_registration_path

    #case-study 
      .placeholder case study carousel


  -#----------------------------------------------------------------------------

  .row
    .span12.columns
      %ul.nav-tabs.nav#frontpage-tabs{:data => { :tabs => 'tabs'}}
        %li.active
          %a{:href => '#selected-jobs', :data => { :toggle => 'tab' }} Utvalgte jobber
        %li
          %a{:href => '#new-jobs', :data => { :toggle => 'tab' }} Nye jobber
        %li
          %a{:href => '#popular-jobs', :data => { :toggle => 'tab' }} Populære jobber

      .tab-content
        .tab-pane.active#selected-jobs
          .row
            - 0.upto(3).each do |job|
              .span3
                %a.thumbnail
                  <img src="http://placehold.it/260x180" alt="">
        .tab-pane#new-jobs
          .row 
            - 0.upto(3).each do |job|
              .span3
                %a.thumbnail
                  <img src="http://placehold.it/260x180" alt="">
        .tab-pane#popular-jobs Populære jobber

