%h1 Employers

#search-controls
  .placeholder søkekontroller

#search-results
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th Navn
      %th Distanse
      %th Beskrivelse
      %th Topp tre teknologier
