// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hero-unit-bgcolor: rgba(230,230,230,0.6);
$header-bgcolor: whitesmoke;

body {
  background-image: url('groovepaper.png')
}

header {
  background-color: $header-bgcolor;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px dotted #ddd;
  // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
}

@mixin placeholder {
  background: url('placeholder.png');
  border: 1px solid red;
  color: red;
}

.placeholder {
  position: absolute;
  width: 100px;
  text-align:center; 
  height: 20px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -10px;
}

nav {
  padding: 20px;
}

.status {
}

#modal-login {
  width: 500px;
  height: 500px;
  background: white;
}

#nav-wrapper {
  float: left;
}

#user-meta {
  float: right;
}

.container {
}

.hero-unit {
  background-color: $hero-unit-bgcolor;
  position: relative;
}

#case-study {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 313px;
  height: 238px;
  @include placeholder;
}

#primary-search { 
  width: 400px;
  margin-top: 20px;
}

.input-search {
  font-size: large;
  height: 27px;
}

.hero-unit h1 {
  font-size: 40px;
}
