// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgcolor: red;

header {
  background-color: #eee;
  width: 100%;
  height: 70px;
}

#content {
  background-color: $bgcolor;
  height: 500px;
  width: 100%;
}
