// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgcolor: #f5f5f5;

#content-container {
  background-color: $bgcolor;
  height: 500px;
}
<<<<<<< HEAD
=======
  
>>>>>>> e58f9faeedd852c9eff490ca9f00ff7bb04d0575
