// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins.scss";

#jobs-container {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: -20px;
    margin-right: -20px;
}

#jobs-search-results {

  width: 700px;
  float: left;

  table {

    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    tr:nth-child(4n) td,
    tr:nth-child(4n+1) td {
      background-color: whitesmoke;
    }

    th:nth-child(1) {
      width: 22%;
      padding-left: 20px;
    }

    td {
      vertical-align: middle;
      font-size: 11px;
    }

    tr.main {

      td:nth-child(1) {
        width: 22%;
        font-size: 14px;
        padding-left: 20px;
      }

      td:nth-child(2) {
        width: 10%;
        font-size: 14px;
      }
      td:nth-child(3) {
        width: 15%;
      }
      td:nth-child(4) {
        width: 15%;
      }
      td:nth-child(5) {
        width: 15%;
      }
      td:nth-child(6) {
        width: 17%;
      }
    }

    tr.aux td {
      border-top: 1px solid transparent;
    }
    /*
    tr.expiring td:nth-child(odd),
    tr.expiring td:nth-child(even), {
      background-color: #d5d5d5 !important;
      border-top: 1px solid #bbb;
    }
    */

    th a.current {
    }
  }

  i.icon {
    opacity: 0.5;
  }
}

#jobs-map-canvas {
  width: 260px;
  margin: 10px;
  height: 300px;
  @include shadowbox;
}

#search-box {

  .inside-box {
    margin-right: -25px;
    margin-left: 10px;
    top: 2px;
    position: relative;
    z-index: 2;
    opacity: 0.5;
  }

  .search-query {
    padding-left: 25px;
    line-height: 14px;
    height: 21px;
    font-size: 15px;
    border-radius: 21px;
  }

}

#search-sidebar {
  width: 280px;
  height: 800px;
  float: right;
}

.label-new {
  background-color: rgba(0,0,0,0.2);
}

#job-meta {
  float: right;
  width: 250px;
  margin-left: 20px;
  padding: 20px;
  @include shadowbox;

  #main-application-button {
    width: 220px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }
}

#job-technologies {
  width: 940px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 20px;
  background-color: #ffffef;
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  margin-bottom: 20px;
}

.table-nohover tbody tr:hover td, .table tbody tr:hover th {
  background-color: transparent;
}
